{% extends "base.html" %}
{% block body %}
    {% for product in products%}
        <h2>{{product.name}}</h2>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">{{product.description}}</p>
              <a href="{% url 'products:product_detail' product.id %}" class="btn btn-primary">detail</a>
            </div>
          </div>




    {% endfor%}
{% endblock %}