{% load static %}
<footer>
    <div class="footer-container">
      <div class="footer-top">
        <img src="{% static 'img/light-logo.png' %}" alt="logo" />
      </div>
      <div class="footer-mid">
        <div class="col col-1">
          <h3 class="footer-heading">درباره ما</h3>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و
            متون بلکهتفاده قرار گیرد.</p>
        </div>

        <div class="col col-2">
          <h3 class="footer-heading">انواع خدمات مبل</h3>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و
            متون بلکهد استفاده قرار گیرد.</p>
        </div>
        <div class="col col-3">
          <h3 class="footer-heading">دسته ها</h3>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
            این صورت می توان امید داشت که تمام و دشواری موجود در ارائا مورد استفاده قرار گیرد.</p>
        </div>
        <div class="col col-4">
          <h3 class="footer-heading">تماس با ما</h3>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیکمتخصصان را
            می طلبد، تا</p>
        </div>
      </div>
      <div class="footer-btm">
        <div class="date">
          <p>2022</p>
        </div>
        <div class="copyright">
          <p>تمامی حقوق متعلق به شرکت طرحفا می باشد.</p>
        </div>
        <div class="social-icons">
          <a href="/">
            <i class="fa fa-telegram"></i>
          </a>
          <a href="/">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="/">
            <i class="fa fa-whatsapp"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>