<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home:home' %}">Home</a>
            </li>
            {% if not user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts:user_login' %}">login/register</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts:user_logout' %}">loginOut</a>
                </li>
            {% endif %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'cart:cart_show' %}">sabadekharid</a>
            </li>
            {% if user.is_admin %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'myadmin:show_products' %}">products</a>
                        <a class="dropdown-item" href="{% url 'myadmin:add_product' %}">add product</a>
                        <!-- <div class="dropdown-divider"></div> -->
                        <a class="dropdown-item" href="#">nothing</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>