{% load static %}
<nav class="nav">
    <div class="top-nav">
        <div class="login">
            <a href="#">ثبت نام / ورود</a>
        </div>
        <div class="brand-logo">
            <img src="{% static 'img/light-logo.png' %}" alt="logo" />
        </div>
        <div class="search">
            <input type="text" class="search-box" placeholder="جستجو در بین محصولات..." />
            <button class="search-btn"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <!-- Dropdon menu -->
    <div class="btm-nav">
        <div class="menu">
            <a class="hamburger-icon">&#9776;</a>
            <div class="menu-items">
                <a href="#home" class="active">خانه</a>
                {% for category in categorys %}
                {% if category.child_categorys.all %}
                <div class="dropdown">
                    <button class="dropbtn">{{category.name}}
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        {% for subcategory in category.child_categorys.all %}
                        <a href="#">{{subcategory.name}}</a>
                        {%endfor%}
                    </div>
                </div>
                {%else%}
                <a href="#home" class="active">{{category.name}}</a>
                {% endif %}
                {%endfor%}
            </div>
        </div>
        <div class="icons">
            <i class="fa fa-user-circle-o fa-x"></i>
            <i class="fa fa-shopping-cart fa-x"></i>
        </div>

    </div>
</nav>